node_modules
.eslintcache
.updatable-packages
**/dist/es
**/dist/types
**/dist/locales
coverage
*.tgz
**/.tmp
.env
.env.dev
mainnet.env
devnet.env
testnet.env
vitest.config.ts.timestamp*

# Move contract build artifacts
**/build/
**/Move.lock
**/Move.toml.copy
**/.coverage/
**/.trace/
